@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #002270;
}
h2{
  font-size: 40px;
  margin: auto;
}
.intro{
  margin-left: 20px;
  margin-bottom: 20px;
}
.cont {
  width: 100%;
  height: 80px;
  z-index: 1;
  border-bottom-color: #e5eeff;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  margin-bottom: 20px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  background: #f6f5fc;
}

.fullcontent {
  width: 100%;
  overflow-y: scroll;
}

.content {
  flex: 1;
  height: fit-content;
  width: fit-content;
  margin-bottom: 30px;
  padding: 15px;
}
.details {
  box-shadow: 0px 0px 8px -2px #c2c2c24d;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
  overflow-y: scroll !important;
}
.stats-container {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.spaced {
  margin-bottom: 40px;
}

.unarchived {
  background: #e3cbff;
  color: #000000;
  border-color: none;
}

.archived {
  background: #a0fbe4;
  color: #000000;
  border-color: none;
}

#root {
  height: 100%;
}

.stats-item0 {
  flex: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    18deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgb(45, 106, 250) 0%,
    rgb(2, 59, 189) 100%
  );
  color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 8px -1.5px #c2c2c24d;
}

.stats-item1 {
  flex: 1;
  background-color: #ffffff;
  color: #012f9a;
  border-radius: 30px;
  border: none;
  padding: 20px;
  box-shadow: 0px 0px 8px -1.5px #c2c2c24d;
}
.stats-item2 {
  flex: 1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    68deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgb(45, 106, 250) 0%,
    rgb(2, 51, 167) 100%
  );
  color: #ffffff;
  border-radius: 30px;
  border: none;
  padding: 20px;
  box-shadow: 0px 0px 8px -1.5px #c2c2c24d;
}

.iconContent{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  height: 35px;
}
.iconContent2{
  background-color: #023bbd;
  padding: 20px;
  border-radius: 15px;
  height: 35px;
}
.text-content {
  flex: 1;
  padding: 10px;
}

.stats-item-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.stats-item-header {
  font-size: 20px;
}
.stats-item-body {
  font-size: 40px;
  font-weight: 700;
}


.table {
  width: 148vh;
}

.dash-img {
  max-width: 50%;
  height: auto;
}
.flex-container {
  display: flex;
  flex: 1;
  height: 100%;
}

@media (max-width: 768px) {
  .content {
    flex: 1;
    margin: auto;
    height: 95vh;
    overflow-y: scroll;
    padding: 20px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    width: fit-content;
  }
}
