@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
  background: #cbdbff ;
}

.unarchived{
  background:#02ad3b;
  color:white;
  border-color: #ffffff00;
}

.archived{
  background:#ffa065; 
  color:white;
  border-color: #ffffff00;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #ffffff;
}

.flex-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25vh;
  padding: 25px;
  background: white;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: white;
  width: 160vh;
}

.logout-button {
  margin-top: auto;
}
.spaced {
  margin-bottom: 20px;
}
