.authbody {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
}

.form-container {
  width: 1000px !important;
}

.title,
.slogan {
  text-align: center !important;
}

.btn {
  width: 100% !important;
}

.auth-img {
  width: 100% !important;
  height: 80% !important;
  margin-top: 10% !important;
  border-radius: 8px !important;
}
