.header {
  display: flex;
  align-items: center;
  gap: 9px;
}

.image {
  display: flex;
}

.topbarContent {
  display: flex;
  justify-content: right;
  padding: 10px;
  gap: 9px;
}
.userImage{
  display: flex;
  align-items: center;
}

.logo-img {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.logo-img2 {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}
.teamDetails {
  color: #878787;
  padding: 10px;
  margin-bottom: 20px;
}
.active-menu-item {
  background-color: #1c60ff!important;
  color: #f2f5fc !important;
  font-weight: bold;
  padding: 15px !important;
}
.barbody {
  width: fit-content;
  height: 100%;
  padding: 15px;
  background-color: #002270;
}

.logout-button {
  width: 100%;
  border-style: none !important;
  color: #002270 !important ;
  font-weight: 600;
}

.logout-tab {
  padding: 30px;
  background-color: #e2eaff;
  color: #3c3c3c;
  border-radius: 12px;
  justify-content: center;
  width: 100%;
  position: bottom;
  margin-top: 580px;
}
