.header {
  display: flex;
  align-items: center;
  gap: 9px;
}

.image {
  display: flex;
}
.topbarContent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-bottom-color: #d0d0d0;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  margin-bottom: 20px;
}
.topbarContent0 {
  display: flex;
  padding: 13px;
  gap: 9px;
  font-size: 20px;
}

.topbarContent1 {
  display: flex;
  padding: 10px;
  gap: 9px;
}
.iconContent3 {
  background-color: #f5f5f5;
  color: #4e67b2;
  padding: 13px;
  border-radius: 15px;
  align-items: center;
}
.flex1 {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.flex2 {
  display: flex;
  align-items: center;
}
.flex3 {
  align-items: center;
}

.logo-img {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
.logo-img2 {
  height: 45px;
  width: 45px;
  border-radius: 5px;
}
.teamDetails {
  color: #d2d2d2;
  padding: 10px;
  margin-bottom: 20px;
}
.active-menu-item {
  background-color: #1c60ff !important;
  color: #f2f5fc !important;
  font-weight: bold;
  padding: 15px !important;
  border-radius: 13px !important;
}
.barbody {
  width: fit-content;
  height: 100%;
  padding: 15px;
  background-color: #002270;
}

.logout-button {
  width: 200px;
  padding: 20px;
  border-style: none !important;
  border-radius: 13px;
  color: #002270 !important ;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

.notificationSidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  transition: transform 0.6s ease-in-out;
  transform: translateX(0);
  z-index: 1000; /* Ensures the sidebar is above other content */
  display: flex;
  flex-direction: column;
}

.notificationSidebar .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000; /* Button color */
}

.notificationSidebar .notificationContent {
  padding: 20px;
  flex: 1; /* Ensures content takes up available space */
  overflow-y: auto; /* Allows scrolling if content overflows */
}

.notificationSidebar .notificationItem {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notificationSidebar .notificationItem.read {
  color: #888;
}

.notificationSidebar .notificationItem.unread {
  font-weight: bold;
}

.notificationSidebar .deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px; 
}

.bellIconWrapper {
  position: relative;
  display: inline-block;
}

.notificationDot {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

